name: Perform release
on:
  push:
    tags:  [ "v*" ]
jobs:
  build-client:
    uses: SAP/java-integration-for-sap-mobile-services/.github/workflows/build.yaml@main
    secrets: inherit
  release-docs:
    uses: SAP/java-integration-for-sap-mobile-services/.github/workflows/release-documentation.yaml@main
    secrets: inherit
  deploy-client:
    name: Deploy client to staging repo
    runs-on: ubuntu-latest
    environment: 'release'
    needs:
      - build-client
      - release-docs
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
      - name: Import GPG key
        env:
          GPG_KEY: ${{ secrets.GPG_SIGNING_KEY }}
        run: echo -e "$GPG_KEY" | gpg --import --no-tty --batch
      - name: Deploy
        env:
          MAVEN_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        run: mvn -B deploy --file pom.xml '-Possrh,!default' -Dgpg.passphrase="${GPG_PASSPHRASE}"
